<th class="data-row data-row-<%= @sym.gsub(/\//,'_') %>" scope="row"><%= "#{@sym} (#{number_with_precision(@data['mkt'], :precision => 2)})" %><br>
  <i style='font-weight: normal'>Last Month Range:<br>
    <%= number_with_precision(@data['low'], :precision => 2) %> - <%= number_with_precision(@data['high'], :precision => 2) %>
  </i>
</th>
<td class="data-row data-row-<%= @sym %>">
  <% @data.except('mkt', 'low', 'high').each do |k, v| %>
    <b><%= v['strikes'] %></b><br>
  <% end %>
</td>
<td class="data-row data-row-<%= @sym %>">
  <% @data.except('mkt', 'low', 'high').each do |k, v| %>
    <b><%= number_with_precision(v['lower_mid'], :precision => 2) %></b><br>
  <% end %>
</td>
<td class="data-row data-row-<%= @sym %>">
  <% @data.except('mkt', 'low', 'high').each do |k, v| %>
    <b><%= number_with_precision(v['upper_mid'], :precision => 2) %></b><br>
  <% end %>
</td>
<td class="data-row data-row-<%= @sym %>">
  <% @data.except('mkt', 'low', 'high').each do |k, v| %>
    <b><%= number_to_percentage(v['diff_pct'] * 100, :precision => 1) %></b><br>
  <% end %>
</td>
<td><%= link_to 'Remove', remove_sym_path(@sym), :class => "btn btn-outline-danger", :remote => true %>
</td>

<script>
  $(document).ready(function(){
    // set rows to update when clicked
    $(".data-row-<%= @sym.gsub(/\//,'_') %>").click(function(){
      $("#trigger-data-<%= @sym.gsub(/\//,'_') %>")[0].click();
    })
  });
</script>