<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Sym</th>
      <th scope="col">Strikes</th>
      <th scope="col">Lower Mid</th>
      <th scope="col">Upper Mid</th>
      <th scope="col">Ratio</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @output.each do |sym, v| %>
      <tr>
        <th scope="row"><%= "#{sym} (#{number_with_precision(v['mkt'], :precision => 2)})" %></th>
        <td>
          <% v.except('mkt').each do |k, vv| %>
            <b><%= vv['strikes'] %></b><br>
          <% end %>
        </td>
        <td>
          <% v.except('mkt').each do |k, vv| %>
            <b><%= number_with_precision(vv['lower_mid'], :precision => 2) %></b><br>
          <% end %>
        </td>
        <td>
          <% v.except('mkt').each do |k, vv| %>
            <b><%= number_with_precision(vv['upper_mid'], :precision => 2) %></b><br>
          <% end %>
        </td>
        <td>
          <% v.except('mkt').each do |k, vv| %>
            <b><%= number_to_percentage(vv['diff_pct'] * 100, :precision => 1) %></b><br>
          <% end %>
        </td>
        <td><%= link_to 'Remove', remove_sym_path(sym), :class => "btn btn-outline-danger", :remote => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
